.contato-icones {
    width: 4rem;
    height: 4rem;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    box-sizing: border-box;
    overflow: visible;
}

